{ 
    "base": "./dist", 
    "conn_usestrictssl" : false, 
    "conn_server": "http://meusap.local:80/",
    "conn_client" : "123", 
    "conn_user": "",
    "conn_password": "",
    "abap_package": "$TMP",
    "abap_bsp": "zapp1",
    "abap_bsp_text": "ZApp1",
    "abap_language": "pt"
}